:root {
    --accent1: rgb(156, 158, 159);
    --accent2: rgb(251, 253, 255);
    --accent3: rgb(2, 2, 2);
    --accent4: rgb(86, 111, 163);
    --text: #325050;
}

button {
    border-radius: .27rem;
    background-color: var(--accent4);
    color: azure;
    border: none;
    font-weight: 600;
}

em {
    font-weight: 600;
}

button:hover,
button:focus {
    background-color: rgb(152, 172, 214);
    cursor: pointer;
}

html {
    background: linear-gradient(135deg, rgb(96, 152, 221), black);
    background-size: cover;
    background-attachment: fixed;
    /* Keeps the background fixed while scrolling */
    background-repeat: no-repeat;
    position: relative;
}

h1,
h2,
h3,
p {
    margin: .125rem;
    padding: 0;
}

h2 {
    color: var(--text);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    border: 0.1875rem;
    border-color: var(--accent1);
    box-sizing: border-box;
    padding: 0 2rem;
}

a {
    text-decoration: none;
    color: #325050;
}

a:hover,
a:hover {
    font-weight: bolder;
    text-decoration: underline;
}


nav {
    display: none;
}

main {
    display: flex;
    background-color: ghostwhite;
    padding: 1rem;
}

img {
    display: none;
}

section {
    width: 100%;
    padding: 1.5625rem 1.875rem 1.25rem;
    color: var(--text);
    margin: 2rem;

    & h1 {
        font-size: 160%;
        margin-bottom: 0.3125rem;
    }

    & h2 {
        font-size: 130%;
        margin-bottom: 0.5rem;
    }

    & h3 {
        font-size: 110%;
        margin-bottom: 0.375rem;
    }


    & p {
        margin-bottom: 0.6875rem;
        clear: left;
    }
}

footer {
    display: block;
    /* Ensure the footer is visible during printing */
}

footer::before {
    content: "Reach me here: \A Email: dws9824@uncw.edu \A LinkedIn: https://www.linkedin.com/in/david-stracola/ \A More about me: \A https://github.com/dstraco";
    white-space: pre-line;
    display: block;
    font-size: 1rem;
    color: black;
}

footer * {
    display: none;
}